html {
  cursor: default;
}

body {
  background-color: rgb(238, 238, 238);
  color: #3c4858;
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

.App {
  height: 100%;
  width: 100%;
}

.app_grid {
  border-radius: 15px;
  margin-bottom: 1em !important;
}

.app_grid:first-of-type {
  background-color: white;
  margin-bottom: 3em !important;
  margin-top: 8%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  margin-left: 12px;
  margin-right: 12px;
}

.MuiButton-root:hover {
  text-decoration: none !important;
  background-color: #2ecc11 !important;
}

.MuiButton-root.Mui-disabled {
  color: black !important;
  background-color: #8e8e8ebd !important;
}

@media only screen and (max-width: 460px) {
  .App {
    overflow-y: auto;
  }
  body {
    width: min-content;
  }
}
