.react-confirm-alert-button-group .alertCancelBtn {
  background: white;
  border: 2px solid rgb(255, 0, 0);
  color: red;
}

.react-confirm-alert-button-group .alertCancelBtn:hover {
  background: red;
  color: white;
}

.react-confirm-alert-button-group .alertConfirmBtn {
  background-color: rgb(75, 136, 73);
}

.react-confirm-alert-button-group .alertConfirmBtn:hover {
  background: rgb(94, 176, 91);
}
