.modal {
  display: none;
  position: fixed;
  overflow-y: overlay;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  padding: 5% 3% 3% 3% !important;
  max-height: 90%;
  width: 55%;
  margin: 0 auto;
  border-radius: 15px;
  will-change: top, opacity;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  max-width: 1060px;
}

.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  width: 100%;
}

.cancelBtn {
  cursor: pointer;
  background-color: white;
  color: red;
  border: 2px solid red;
  padding: 6px 8px;
  border-radius: 10%;
  box-shadow: 0 2px 2px 0 rgba(76, 134, 175, 0.14),
    0 3px 1px -2px rgba(76, 125, 175, 0.2), 0 1px 5px 0 rgba(76, 116, 175, 0.12);
  font-size: unset;
}

.cancelBtn:hover {
  background-color: red;
  color: white;
}

.MuiGrid-root.item_newreservation.submit.MuiGrid-item {
  display: flex;
  width: 328px;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 992px) {
  .modal {
    width: 80%;
  }
}

@media only screen and (max-width: 550px) {
  .modal h4 {
    font-size: 1.3em;
    text-align: center;
  }
}

@media only screen and (max-width: 430px) {
  .modal form > div {
    display: block;
    width: -webkit-fill-available;
  }

  .MuiGrid-root.item_newreservation.submit.MuiGrid-item {
    width: auto;
  }
}
