.inputclass {
  width: 20em;
}

.MuiGrid-root.item_newreservation.MuiGrid-item {
  margin-top: 1em;
}

.MuiSvgIcon-root.addbox_icon {
  background: rgb(94, 176, 91);
  color: white;
  margin-top: -30px;
  margin-left: 15px;
  font-size: 70px;
  padding: 15px;
  border-radius: 10%;
  box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.formstyle {
  position: relative;
}

.MuiFormLabel-root.MuiInputLabel-root.inputLabel.MuiInputLabel-formControl.MuiInputLabel-animated {
  font-size: small;
}

.MuiFormLabel-root.MuiInputLabel-root.inputLabel.MuiInputLabel-formControl.MuiInputLabel-animated[data-shrink="true"] {
  font-size: unset;
}

.MuiGrid-root.reservationContainer.MuiGrid-container.MuiGrid-spacing-xs-5.MuiGrid-align-items-xs-center.MuiGrid-justify-xs-center:empty:before {

  content: "Sorry but we couldn't find anything...";
  margin-top:5%;

  margin-bottom:10%;
}
