.MuiGrid-root.reservation.MuiGrid-item {
  background-color: bisque;
  margin: 35px 20px 35px 20px;
  padding-bottom: 15px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.MuiSvgIcon-root.upper_left_icon {
  background: #e24b6b;
  color: white;
  margin-top: -50px;
  font-size: 60px;
  padding: 15px;
  border-radius: 10%;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.reservation p {
  line-height: 2em;
}

.reservation p span {
  color: rgb(114, 1, 1);
  font-weight: bold;
}

.MuiSvgIcon-root.edit_icon {
  cursor: pointer;
  float: left;
  color: #1f73b7;
}

.MuiSvgIcon-root.edit_icon:hover {
  outline: none;
  background-color: gainsboro;
  border-radius: 15%;
}

.MuiSvgIcon-root.delete_icon {
  cursor: pointer;
  float: right;
  color: firebrick;
}

.MuiSvgIcon-root.delete_icon:hover {
  outline: none;
  background-color: rgb(248, 210, 200);
  border-radius: 15%;
}

.res_content {
  background-color: lightyellow;
  margin: 4px -20px 4px -20px;
  padding: 20px;
}

.res_footer {
  padding-top: 3%;
}

.res_header {
  font-weight: bold;
  padding-bottom: 3%;
}

.res_header p span {
  color: rgb(114, 1, 1);
  font-weight: bold;
}

.res_header p {
  margin-top: -32px;
  float: right;
}

@media screen and (max-width: 600px) {
  .MuiGrid-root.reservation.MuiGrid-item {
    width: inherit;
  }
}
